<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="pb.home">Purple Bricks Demo</a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav" ng-if="navigation.authentication.isAuth">

                <li ng-if="navigation.authentication.userType === 'buyer'" class="active"><a ui-sref="pb.buyer">See houses</a></li>
                <li ng-if="navigation.authentication.userType === 'seller'" class="active"><a ui-sref="pb.seller">Make an offer</a></li>

                <li><a href="" ng-click="navigation.logout()">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-if="!navigation.authentication.isAuth">
                <li>
                    <a ui-sref="pb.home">Home</a>
                </li>
                <li>
                    <a ui-sref="pb.login">Login</a>
                </li>
            </ul>

        </div>
    </div>
</div>